<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Settings</string>
        <key>footerText</key>
        <string>Automatically turn off the screen when the flashlight is turned on</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kEnabled</string>
        <key>label</key>
        <string>Enabled</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.wrp1002.flashlightsettings</string>
        <key>PostNotification</key>
        <string>com.wrp1002.flashlightsettings/ReloadPrefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kAutoLock</string>
        <key>label</key>
        <string>Auto Lock</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.wrp1002.flashlightsettings</string>
        <key>PostNotification</key>
        <string>com.wrp1002.flashlightsettings/ReloadPrefs</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>When flashlight is on:</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kDisableRaiseToWake</string>
        <key>label</key>
        <string>Disable Raise to Wake</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.wrp1002.flashlightsettings</string>
        <key>PostNotification</key>
        <string>com.wrp1002.flashlightsettings/ReloadPrefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kDisableTapToWake</string>
        <key>label</key>
        <string>Disable Tap to Wake</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.wrp1002.flashlightsettings</string>
        <key>PostNotification</key>
        <string>com.wrp1002.flashlightsettings/ReloadPrefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Flashlight Shortcut</string>
        <key>footerText</key>
        <string>These shortcuts let you toggle the flashlight. Some won't work depending on device type and iOS version

For triple click to work, you have to have an accessibility shortcut set, which this tweak will override

"Set Max Brightness" will set the highest flashlight level when you use the shortcut. Otherwise, the last set level will be used</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkListCell</string>
        <key>detail</key>
        <string>PSListItemsController</string>
        <key>key</key>
        <string>kFlashlightShortcut</string>
        <key>label</key>
        <string>Flashlight Shortcut</string>
        <key>validTitles</key>
        <array>
          <string>Disabled</string>
          <string>Volume Up + Down</string>
          <string>Lock Button Double Click</string>
          <string>Lock Button Triple Click</string>
          <string>Lock Button Hold</string>
          <string>Home Button Double Click</string>
          <string>Home Button Triple Click</string>
          <string>Home Button Hold</string>
          <string>Ringer</string>
          <string>Ringer Inverted</string>
        </array>
        <key>validValues</key>
        <array>
          <string>disabled</string>
          <string>volume</string>
          <string>doubleLock</string>
          <string>tripleLock</string>
          <string>holdLock</string>
          <string>doubleHome</string>
          <string>tripleHome</string>
          <string>holdHome</string>
          <string>ringer</string>
          <string>ringerInverted</string>
        </array>
        <key>default</key>
        <string>disabled</string>
        <key>defaults</key>
        <string>com.wrp1002.flashlightsettings</string>
        <key>PostNotification</key>
        <string>com.wrp1002.flashlightsettings/ReloadPrefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kMaxLevel</string>
        <key>label</key>
        <string>Set Max Brightness</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.wrp1002.flashlightsettings</string>
        <key>PostNotification</key>
        <string>com.wrp1002.flashlightsettings/ReloadPrefs</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kKeepScreenOff</string>
        <key>label</key>
        <string>Keep Screen Off</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.wrp1002.flashlightsettings</string>
        <key>PostNotification</key>
        <string>com.wrp1002.flashlightsettings/ReloadPrefs</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>"Keep Screen Off" puts the screen back off when a button shortcut fires while the phone is asleep, so the flashlight toggles without waking the phone. The screen may still flash for a moment.</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Haptic Feedback</string>
        <key>footerText</key>
        <string>Vibrate when a shortcut toggles the flashlight, so you can tell it worked without looking at the screen</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kHapticFeedback</string>
        <key>label</key>
        <string>Enabled</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.wrp1002.flashlightsettings</string>
        <key>PostNotification</key>
        <string>com.wrp1002.flashlightsettings/ReloadPrefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkListCell</string>
        <key>detail</key>
        <string>PSListItemsController</string>
        <key>key</key>
        <string>kHapticStyle</string>
        <key>label</key>
        <string>Strength</string>
        <key>validTitles</key>
        <array>
          <string>Light</string>
          <string>Medium</string>
          <string>Heavy</string>
        </array>
        <key>validValues</key>
        <array>
          <string>light</string>
          <string>medium</string>
          <string>heavy</string>
        </array>
        <key>default</key>
        <string>medium</string>
        <key>defaults</key>
        <string>com.wrp1002.flashlightsettings</string>
        <key>PostNotification</key>
        <string>com.wrp1002.flashlightsettings/ReloadPrefs</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Last Shortcut</string>
        <key>footerText</key>
        <string>Shows the last time a shortcut fired and whether the screen was on. Use it to check whether a shortcut reaches the tweak with the screen off.</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSTitleValueCell</string>
        <key>get</key>
        <string>lastTriggerSource:</string>
        <key>label</key>
        <string>Shortcut</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSTitleValueCell</string>
        <key>get</key>
        <string>lastTriggerDate:</string>
        <key>label</key>
        <string>When</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSTitleValueCell</string>
        <key>get</key>
        <string>lastTriggerScreenOn:</string>
        <key>label</key>
        <string>Screen Was On</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSTitleValueCell</string>
        <key>get</key>
        <string>recentWakeSources:</string>
        <key>label</key>
        <string>Wake Sources</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Flashlight Timeout</string>
        <key>footerText</key>
        <string>Automatically turn off the flashlight after X minutes</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kFlashlightTimeoutEnabled</string>
        <key>label</key>
        <string>Enabled</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.wrp1002.flashlightsettings</string>
        <key>PostNotification</key>
        <string>com.wrp1002.flashlightsettings/ReloadPrefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>key</key>
        <string>kFlashlightTimeoutVal</string>
        <key>label</key>
        <string>Minutes</string>
        <key>default</key>
        <string>15</string>
        <key>keyboard</key>
        <string>numbers</string>
        <key>noAutoCorrect</key>
        <true/>
        <key>isIP</key>
        <false/>
        <key>isURL</key>
        <false/>
        <key>isNumeric</key>
        <true/>
        <key>isDecimalPad</key>
        <false/>
        <key>isEmail</key>
        <false/>
        <key>defaults</key>
        <string>com.wrp1002.flashlightsettings</string>
        <key>PostNotification</key>
        <string>com.wrp1002.flashlightsettings/ReloadPrefs</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>Respringing is NOT needed for changes to take effect!</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Reset all settings</string>
        <key>action</key>
        <string>Reset</string>
        <key>isDestructive</key>
        <true/>
        <key>confirmation</key>
        <dict>
          <key>prompt</key>
          <string>Are you sure you want to reset all settings?</string>
          <key>title</key>
          <string>Reset!</string>
          <key>cancelTitle</key>
          <string>Cancel</string>
        </dict>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Respring</string>
        <key>action</key>
        <string>Respring</string>
        <key>isDestructive</key>
        <true/>
        <key>confirmation</key>
        <dict>
          <key>prompt</key>
          <string>Are you sure you want to respring your device?</string>
          <key>title</key>
          <string>Respring!</string>
          <key>cancelTitle</key>
          <string>Cancel</string>
        </dict>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Developer</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Email Me</string>
        <key>action</key>
        <string>OpenEmail</string>
        <key>icon</key>
        <string>email.png</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Reddit</string>
        <key>action</key>
        <string>OpenReddit</string>
        <key>icon</key>
        <string>reddit.png</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Source Code</string>
        <key>action</key>
        <string>OpenGithub</string>
        <key>icon</key>
        <string>github.png</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Donate</string>
        <key>action</key>
        <string>OpenPaypal</string>
        <key>icon</key>
        <string>paypal.png</string>
      </dict>


    </array>
    <key>title</key>
    <string>FlashlightSettings</string>
  </dict>
</plist>